@import '~antd/dist/antd.css';

.header{
    background-color: white;
    width: 100%;
}

.footer{
    font-weight: 600;
    width: 100%;
    text-align: center;
}

.logo img {
    float: left;
    height: 55px; 
}

.carousel h3{
    height: 300px;
    color: #fff;
    line-height: 300px;
    text-align: center;
    background: #364d79 ;
}

.searchbox{
    margin-left: 290px;
}


.card{
    display: inline-flex;
    margin-left: 20px;
    height:300px;
}

.card img{
    height:100px;
}

.metacard{
    margin-top: 10px;
}

.checkout{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px;
    background: #e85733;
    color: #fff !important;
    position: absolute;
    bottom: 80px;
    left: 13px;
    width: 87%;
    z-index: 11;
}

.emailForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:60px 0px;
}

.login{
    background: linear-gradient(90deg, #f9ab7b91 13%, #efe09b 50%, #cad89c 90%);
    height:600px;
}

.loginBtn{
    border-radius: 8px;
}

.socialButton{
    width: 300px;
    margin:"5px 0";
    border:none;
    font-size: 17px;
    padding:"12px";
    line-height: 20px;
    font-family: serif;
}

.facebook{
    background-color: #3B5998;
  color: white;
  margin-bottom: 5px;
}
.google{
    background-color: #dd4b39;
  color: white;
}

.facebook:hover{
    background-color: #669eff;
    color: black;
}
.google:hover{
    background-color: rgb(255, 151, 151);
    color: black;
}

    .logoWeapper{
        position: relative;
    }

    .logoWeapper img{
        height:100px;
    }


.productGroupWrapper {
    margin: 5px 40px 40px;
    padding: 0px 10px 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 2px 2px #dcdcdc;

    @media screen and (max-width: 768px) {
        margin: 0 0px 5px 0;
        padding: 0px 5px 0px;
    }
}

.productGroupWrapper .productGroupInfo .h3 {
    margin: 0;
    color: rgba(0, 0, 0, 0.65);
}

.productGroupSeeAll {
    text-align: right;
    padding: 2px;
}

.productGroupSeeAll a {
    font-weight: 600;
    text-decoration: underline;
    color: #e96125;

    @media screen and (max-width: 768px) {
        font-weight: 100;
    }
}

.productListWrapper {
    background-color: #fff;
    width: 100%;
    overflow-x: scroll;
}

.productListWrapper .productList {
    display: flex;
    flex-wrap: wrap;
    min-width: 500px;
}

.productListWrapper .productList .product {
    margin: 5px;
    @media screen and (max-width: 380px) {
        margin: 1px;
    }
}

.productListWrapper .productList.noWrapp {
    flex-wrap: nowrap;
    min-width: unset;
    justify-content: flex-start;
}

.productListWrapper .productWrapper {
    height: fit-content;
    width: 167px;
    box-shadow: #ddd 0px 0px 3px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    margin-bottom: 2px;

    @media screen and (max-width: 768px) {
        width: 150px;
        padding: 5px;
    }
}

.productListWrapper .productWrapper .productDetail {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 80px;

    @media screen and (max-width: 768px) {
        height: 95px;
    }  
}

.productListWrapper .productWrapper .productDetail .productName {
    font-size: 11px;
    height: 51px;
    overflow: hidden;
}

.productListWrapper .productWrapper .productDetail .productUnit {
    font-size: 12px;
}

.productListWrapper .productList .noWrapp {
    flex-wrap: nowrap;
    min-width: unset;
    justify-content: flex-start;
}

.productListWrapper .ant-carousel .slick-dots {
    width: 100% !important;
    bottom: 20px !important;
}

.productListWrapper .ant-carousel .slick-dots li button {
    height: 8px !important;
}

.productListWrapper .productTop {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    flex-direction: column;
    align-items: center;
    height: 110px;
    cursor: pointer;
}

.productListWrapper .productTop .img {
    max-height: 110px;
    max-width: 110px;

    @media screen and (max-width: 768px) {
        max-height: 70px;
        max-width: 80px;
    }
}